.about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .about_info {
    width: 60%;
    padding: 20px;
    border-left: 20px solid #9acd32;
    border-radius: 200px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: border 0.8s 1, fadein 1s 1;
    @keyframes border {
      from {
        border-radius: 0px;
      }
      to {
        border-radius: 200px;
      }
    }
    .about_title {
      color: white;
      font-size: 40px;
      font-weight: 200;
      width: 100%;
      text-align: center;
    }
    .about_info_data {
      display: flex;
      align-items: center;

      img {
        width: 200px;
      }
      p {
        color: rgb(79, 219, 230);
        font-weight: 300;
        padding-left: 10px;
      }
    }
  }
}
@media only screen and (max-width: 1120px) {
  .about {
    .about_info {
      width: 70%;
      border: none;
      .about_title {
      }
      .about_info_data {
        flex-direction: column-reverse;
        padding: 0px 15px;
        img {
          width: 200px;
        }
        p {
          font-size: 18px;
          margin-left: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .about {
    .about_info {
      width: 80%;
      border: none;
      .about_title {
        font-size: 20px;
      }
      .about_info_data {
        flex-direction: column-reverse;
        padding: 0px 15px;
        img {
          width: 120px;
        }
        p {
          font-size: 12px;
          margin-left: 5px;
        }
      }
    }
  }
}
