.navbar {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
  border-left: 4px solid #474b4f;

  .navbar_nav {
    padding: 10px;
    display: flex;
    border-left: 4px solid #9acd32;
    margin-left: -4px;
    // border-image: linear-gradient(180deg, #86c232, rgb(255, 255, 255)) 1;
    align-items: center;
    height: 100px;
    margin-bottom: 2px;
    a {
      color: #6b6e70;
      text-decoration: none;
    }
    .activeNav {
      color: rgb(79, 219, 230);
      font-size: 18px;
    }
    .navbar_options {
      margin: 0px 5px;
      transition: ease-in 0.3s;
      &:hover {
        color: white;
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 425px) {
  .navbar {
    margin-left: 10px;
    border-width: 2px;
    .navbar_nav {
      padding: 5px;
      border-width: 2px;
      margin-left: -2px;
      a {
        font-size: 10px;
        .navbar_options {
          margin: 0px;
          &:hover {
            color: rgb(79, 219, 230);
            font-size: 12px;
          }
        }
      }
      .activeNav {
        font-size: 12px;
      }
    }
  }
}
