.projects {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .projects_container {
    width: 60%;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s 1;
    .projects_title {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 40px;
      font-weight: 200;
      margin-bottom: 15px;
    }
    .projects_panel {
      display: flex;
      justify-content: space-evenly;
      padding: 15px;

      .projects_panel_data {
        background-color: rgb(27, 30, 32);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgb(79, 219, 230),
          0 6px 20px 0 rgba(154, 205, 50, 0.4);
        img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 220px;
          object-fit: contain;
        }
        .project_panel_data_title {
          color: rgb(79, 219, 230);
          font-weight: 600;
          margin: 10px 0px;
        }
        .project_links {
          display: flex;
          align-items: center;

          a {
            color: #6b6e70;
            text-decoration: none;
            transition: all ease-in 0.2s;
            margin: 0px 5px;
            margin-bottom: 10px;
            &:hover {
              color: yellowgreen;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .projects {
    .projects_container {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .projects_title {
        font-size: 20px;
        padding-top: 20px;
        margin: 0px;
      }
      .projects_panel {
        flex-wrap: wrap;
        width: 200px;

        .projects_panel_data {
          margin: 10px 5px;
          box-shadow: none;
          img {
            width: 100px;
          }
          .project_panel_data_title {
            font-size: 12px;
          }
        }
      }
    }
  }
}
